@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html, body {
    height: 100vh;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}


/* link colors */
a:link {
    font-style: italic;
    color: #83aff7;
}
a:visited {
    font-style: italic;
    color: #83aff7;
}
a:hover {
    font-style: italic bold;
    color: #adccff;
}
a:active {
    font-style: italic bold;
    color: #83aff7;
}

/* fonts */
h1 {
    font-family: 'Roboto Mono';
    font-size: 8vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
h2 {
    font-family: 'Roboto';
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}
p1 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
p2 {
    font-family: 'Roboto';
    font-size: 3vw;
    font-weight: 700;
}

/* tabs */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}
section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #fff;
}
input {
    display: none;
}
label {
    display: inline-block;
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Roboto Mono';
}
label:before {
    margin-right: 10px;
    font-family: fontawesome;
}

/* tab icons */
label[for*='1']:before { content: '\f015'; }
label[for*='2']:before { content: '\f030'; }
label[for*='3']:before { content: '\f2b5'; }

label:hover {
    cursor: pointer;
    background-color: #630000;
}
input:checked + label {
    font-weight: 700;
    background-color: #ef0909;
    transition: 0.3 s;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    opacity: .5;
}

.container {
    position: relative;
    text-align: center;
}

.txtoverimg {
    
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(https://i.imgur.com/PqKcAjo.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 10px 0 0 10px;
    position: relative;
    float: center;
    
    color: white;
    margin: 0;
    padding: 20px;



* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
